<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
</head>
<body>
    <h1>User List</h1>
    <ul>
        <% if(userLogued.profile=="ADMIN") {%>
        <a href="#">Crear</a>
        <% } %>
        <br>
        <br>
        <% for(let u of usuarios){ %>
            <li><%= u %>
                <% if(userLogued.profile=="ADMIN") {%>
                <a href="#">Editar</a>
                <a href="#">Eliminar</a>
                <% } %>
            </li>
        <% } %>
    </ul>
</body>
</html>